# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
.env

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# BCSFE & Data Backups
*.sav
SAVE_DATA*
transfer_backup/
bcsfe_backups/
*.temp
