__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
.env

.vscode/
.idea/
.DS_Store
Thumbs.db

*.sav
SAVE_DATA*
transfer_backup/
bcsfe_backups/
*.temp

template_secrets.py
*.sqlite
*.sqlite-*
*.save

build/
*.egg-info/
